extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/process_post', method='POST')
    p
      p  Name:
      input(type='text', name='first_name', value='')
      p  Age:
      input(type='number', name='age', value='')
      p Gender:
      |  Male:
      input(type='radio', name='gender', value='male')
      |  Female:
      input(type='radio', name='gender', value='female')
      |  Prefer not to answer:
      input(type='radio', name='gender', value='other')

    input(type='submit', value='Submit')



